<form id="sign-in">
  {{#form-header active=isSigningIn}}
    {{#if isSigningIn}}
      Signing in...
    {{else}}
      Sign in
    {{/if}}
  {{/form-header}}
  {{#unless isSigningIn}}
    {{labelled-input title="Account" name="aws[account]" value=account}}
    {{labelled-input title="User Name" name="aws[user_name]" value=userName}}
    {{labelled-input type="password" title="Password" name="aws[password]" value=password}}
    {{#check-box checked=hasMFA}}I have a MFA Token{{/check-box}}
    {{#if hasMFA}}
      {{labelled-input title="MFA Token" name="aws[mfa_token]" value=mfaToken}}
    {{/if}}
    <button {{action "signIn"}}>Sign In</button>
  {{/unless}}
</form>
